@using Microsoft.IdentityModel.Tokens
@model IEnumerable<InventarioModel> 

@{
    ViewData["Title"] = "VentasPunto";
}

<html lang="es">
<div class="container">
    <div class="row">
        @*Contenedores para mostrar Nombre o codigo del empleado*@
        <div class="col text-right">
            <p class="label-gris">Nombre Del Empleado</p>
        </div>
        @*Contenedor que muestra nombre del cliente*@
        <div class="col text-right">
            <p class="label-grisD">Nombre Del Cliente</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <div class="row">
            Logo
        </div>
        <div class="row">
            Opciones
        </div>
    </div>

    @*Muestra los productos marcados*@

    <div class="col-6">
        <div class="row">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <img lass="img-fluid mb-2" style="width: 80px; height: 80px" alt="profile picture"
                                src="/imagenes/placeH.png" @*PlaceHolder*@ />
                        </td>
                        <td>
                            <img lass="img-fluid mb-2" style="width: 80px; height: 80px" alt="profile picture"
                                src="/imagenes/placeH.png" @*PlaceHolder*@ />
                        </td>
                        <td>
                            <img class="img-fluid mb-2" style="width: 80px; height: 80px" alt="profile picture"
                                src="/imagenes/placeH.png" @*PlaceHolder*@ />
                        </td>
                    </tr>
                </tbody>
        </div>
        <div class="row">
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger">
                @ViewBag.ErrorMessage
            </div>
        }
            @*PlaceHolder*@
            <table border="1">
        <thead>
            <tr>
                <th>Contenido</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
           @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.nombreProducto</td>
                        <td>@product.costoProducto</td>
                    </tr>
                }
        </tbody>
    </table>
        </div>
    </div>

    <div class="col-3">
        @*Contenedor para mostrar propaganda*@
        <div class="row">
            <img class="img-thumbnail" src="/imagenes/placeH.png" @*PlaceHolder*@ />
        </div>

         
            @*Botones para opciones de pago*@
            <div class="row">
                <table class="table" id="miTabla">
                    <tbody>
                        <tr>
                            <td>
                                <button id="cant500" class="btn btn-primary">500</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary">200</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary">100</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary">50</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-primary">20</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary">10</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary">5</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary">Tarjeta</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        

    </div>
</div>


<div class="row">

    <table class="table">
        <tbody>
            <tr>
                <td>
                    <button type="button" class="btn btn-primary">Back</button>
                </td>
                <td>
                    <form asp-action="BuscarVenta" method="post">
                <label for="codBarras">Código de Barras:</label>
                <input type="text" id="codBarras" name="codBarras" required />
                <button type="submit">Enter</button>
                </form>
                </td>
                <td>
                    <input  type="text"  id="cantidad"  />
                    @*Introduce cantidades a pagar*@
                </td>
                <td>
                    
                    @foreach (var product in Model)
                {
                    
                        <label> Total </label> 
                        <td>@product.costoProducto</td>
                    
                }
                </td>
            </tr>
        </tbody>
    </table>  
</div>
</html>

 <script src="site.js"></script>

    
</script>