@model InventarioModel

@{
    ViewData["Title"] = "Alta de Producto";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Inventarios-style.css" />
</head>
<body>
    <div class="container" style="width: 70%;">
        <p class="label-gris" style="font-size:160%;">@ViewData["Title"]</p>
        <form asp-controller="Inventario" asp-action="InventarioAdd" method="post">
            <div class="mb-3">
                <label for="codBarras" class="form-label">Código de Barras</label>
                <input type="text" class="form-control" id="codBarras" name="codBarras" placeholder="Escriba el código de barras del producto" />

                <label for="nombreProducto" class="form-label">Nombre del Producto</label>
                <input type="text" class="form-control" id="nombreProducto" name="nombreProducto" placeholder="Escriba el nombre del Producto" />
                @* <span asp-validation-for="nombreProducto" class="text-danger"></span> *@

                <label for="cantProducto" class="form-label">Cantidad</label>
                <input type="text" class="form-control" id="cantProducto" name="cantProducto" placeholder="Escriba la cantidad del producto" />
                @* <span asp-validation-for="cantProducto" class="text-danger"></span> *@

                <label for="costoProducto" class="form-label">Costo</label>
                <input type="text" class="form-control" id="costoProducto" name="costoProducto" placeholder="Escriba el coste del producto" />
                @* <span asp-validation-for="costoProducto" class="text-danger"></span> *@

                <label for="codProveedores" class="form-label">Proveedor</label>
                <select class="form-select" asp-for="codProveedor" asp-items="@Model.ProveedorList">
                    <option value="">Seleccionar Proveedor</option>
                </select>
            </div>

            <div class="buttons">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a class="btn btn-secondary" asp-controller="Inventario" asp-action="InventarioList">Cancelar</a>
            </div>
        </form>
    </div>
</body>
</html>
