@model InventarioModel


@{
    ViewData["Title"] = "Borrar Producto";
}

<head>
    <link rel="stylesheet" href="~/css/Inventarios-style.css" />
</head>

<h3 class="mb-3"></h3>

<div class="container" style="width: 70%;">
<form asp-controller="Inventario" asp-action="InventarioDeleted">
    <div class="card" style="width 18rem;">
        <div class="card-body">
        <h5 class="card-title">Info del Producto</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Estas Seguro que deseas borrar el producto</h6>
        <p class="card-text">Categoria: @Model.nombreProducto</p>
        </div>
    </div>

    <div class="buttons">
    <input type="hidden" asp-for="codBarras"/>
    <button type="submit" class="btn btn-danger">Borrar</button>
    <a class="btn btn-secondary" asp-action="InventarioList" asp-controller="Inventario">Cancelar</a>
    </div>
</form>
</div>