@model InventarioModel

@{
    ViewData["Title"] = "Editar el Producto";
}

<div class="col text-right">
    <p class="label-gris" style="font-size:160%;">Editar el Producto</p>
</div>

<head>
    <link rel="stylesheet" href="~/css/Inventarios-style.css" />
</head>

<div class="container" style="width: 70%;">
<form asp-action="InventarioEdit" asp-controller="Inventario">
    
    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="codBarras" placeholder="Codigo de barras" readonly></input>
        <label asp-for="codBarras">Codigo de barras</label>
        @* <span asp-validation-for="codBarras" class="text-danger" ></span> *@

    </div>
    

    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="nombreProducto" placeholder="Nombre del producto"></input>
        <label asp-for="nombreProducto">Nombre del Producto</label>
        @* <span asp-validation-for="nombreProducto" class="text-danger" ></span> *@

    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="cantProducto" placeholder="Cantidad del Producto" ></input>
        <label asp-for="cantProducto">Cantidad del Producto</label> 
        @* <span asp-validation-for="cantProducto" class="text-danger" ></span> *@

    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="costoProducto" placeholder="Costo del Producto"></input>
        <label asp-for="costoProducto">Costo del Producto</label>
        @* <span asp-validation-for="costoProducto" class="text-danger" ></span> *@

    </div>

    <div class="mb-3">
        <label for="codProveedores" class="form-label">Proveedor</label>
                <select class="form-select" asp-for="codProveedor" asp-items="@Model.ProveedorList">
                    <option value="">Seleccionar Proveedor</option>
                </select>
    </div>
    <div class="buttons">
    <button class="btn btn-outline-primary">Guardar</button>
    <a class="btn btn-outline-secundary" asp-action="InventarioList" asp-controller="Inventario">Regresar</a>
    </div>
</form>
</div>