@model InventarioModel

@{
    ViewData["Title"] = "Editar el Producto";
}

<h1>Editar el Producto</h1>

<form asp-action="InventarioEdit" asp-controller="Inventario">
    <input type="hidden" asp-for"Id">

    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="nombreProducto" placeholder="Nombre del producto">
        <label asp-for="nombreProducto">Nombre del Producto</label>
        <span asp-validation-for="nombreProducto" class="text-danger" ></span>

    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="cantProducto" placeholder="Cantidad del Producto">
        <label asp-for="cantProducto">Cantidad del Producto</label>
        <span asp-validation-for="cantProducto" class="text-danger" ></span>

    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="costoProducto" placeholder="Costo del Producto" aria-label="Amount (to the nearest dollar)">
        <label asp-for="costoProducto">Costo del Producto</label>
        <span asp-validation-for="costoProducto" class="text-danger" ></span>

    </div>

    <div class="mb-3">
        <select class="form-select" asp-for="ProveedoresidProveedores" asp-items="@Model.ProveedoresList">
            <option>Seleccionar proveedor</option>
        </select>
        <span asp-validation-for="ProveedoresidProveedores" class="text-danger" ></span>
    </div>
    
    <button class="btn btn-outline-primary">Guardar</button>
    <a class="btn btn-outline-secundary" asp-action="InventarioList" asp-controller="Inventario">Regresar</a>
</form>