@model ProveedorModel

@{
    ViewData["Title"] = "Editar el proveedor";
}

<head>
    <link rel="stylesheet" href="~/css/Proveedores-style.css" />
</head>

<div class="col text-right">
    <p class="label-gris" style="font-size:160%;">@ViewData["Title"]</p>
</div>

<form asp-action="ProveedorEdit" asp-controller="Proveedor">
    
    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="codProveedor" placeholder="codProveedor">
        <label asp-for="codProveedor">codProveedor</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="nombreProveedor" placeholder="Nombre del Proveedor">
        <label asp-for="nombreProveedor">Nombre del Proveedor</label>
    </div>

    <div clas="buttons">
    <button class="btn btn-outline-primary">Guardar</button>
    <a class="btn btn-outline-secundary" asp-action="ProveedorList" asp-controller="Proveedor">Regresar</a>
    </div>
</form>