@model ProveedorModel

@{
    ViewData["Title"] = "Borrar al Proveedor";
}

<head>
    <link rel="stylesheet" href="~/css/Proveedores-style.css" />
</head>
<h3 class="mb-3"></h3>

<form asp-asp-controller="Proveedor" asp-action="ProveedorDeleted">

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Información del Proveedor</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">¿Está seguro que desea borrar al proveedor?</h6>
            <p class="card-text">Proveedor: @Model.nombreProveedor</p>
        </div>
    </div>

    <div class="buttons">
    <input type="hidden" asp-for="codProveedor" />
    <button type="submit" class="btn btn-danger">Borrar</button>
    <a class="btn btn-secondary" asp-action="ProveedorList" asp-controller="Proveedor">Cancelar</a>
    </div>
</form>