@model ProveedorModel

@{
    ViewData["Title"]= "Proveedor";
}

<head>
    <link rel="stylesheet" href="~/css/Proveedores-style.css" />
</head>

<div class="col text-right">
    <p class="label-gris" style="font-size:160%;">@ViewData["Title"]</p>
</div>

<form asp-action="ProveedorAdd" asp-controller="Proveedor">

    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="nombreProveedor" placeholder="Nombre del Proveedor">
        <label asp-for="nombreProveedor">Nombre del Proveedor</label>
        <span asp-validation-for="nombreProveedor" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="codProveedor" placeholder="Nombre del Proveedor">
        <label asp-for="codProveedor">Codigo de Proveedor</label>
        <span asp-validation-for="codProveedor" class="text-danger"></span>
    </div>
    <div class="buttons">
    <button class="btn btn-outline-primary" type="submit">Guardar</button>
    <a class="btn btn-outline-secundary" asp-action="ProveedorList" asp-controller="Proveedor">Regresar</a>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}