@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home-style.css" />
<body>
    <br>
    <br>
    <div class="row">
        <div class="row">
    <div class="col d-flex justify-content-center">
        <a asp-controller="Ventas" asp-action="VentasPunto" class="btn custom-btn">
            <i type="fa-11931" class="cIcon cIcon-fa-11931" title="Punto de Venta">
                <svg xmlns="http://www.w3.org/2000/svg" width="10em" height="10em" fill="#FFFFFF"
                    viewBox="0 0 1024 1024">
                    <path
                        d="M576 0c35.4 0 64 28.7 64 64v128c0 35.4-28.6 64-64 64h-160v64h432.2c65 0 118.8 46.2 128.2 108.8l45.4 299.4c1.4 9.4 2.2 19 2.2 28.6V896c0 70.6-57.4 128-128 128H128c-70.7 0-128-57.4-128-128v-139.2c0-9.6 0.7-19.2 2.2-28.6L47.5 428.8C57 366.2 110.8 320 174.1 320h112.1v-64h-160c-33.5 0-64-28.6-64-64V64c0-35.3 30.5-64 64-64H576zM192 96c-17.7 0-32 14.3-32 32s14.3 32 32 32h320c17.6 0 32-14.3 32-32s-14.4-32-32-32H192zM160 896h704c17.6 0 32-14.4 32-32s-14.4-32-32-32H160c-17.7 0-32 14.4-32 32s14.3 32 32 32z m64-464c-26.5 0-48 21.4-48 48s21.5 48 48 48c26.6 0 48-21.4 48-48s-21.4-48-48-48z m192 96c26.6 0 48-21.4 48-48s-21.4-48-48-48-48 21.4-48 48 21.4 48 48 48z m-96 64c-26.6 0-48 21.4-48 48s21.4 48 48 48 48-21.4 48-48-21.4-48-48-48z m288-64c26.6 0 48-21.4 48-48s-21.4-48-48-48-48 21.4-48 48 21.4 48 48 48z m-96 64c-26.6 0-48 21.4-48 48s21.4 48 48 48 48-21.4 48-48-21.4-48-48-48z m288-64c26.6 0 48-21.4 48-48s-21.4-48-48-48-48 21.4-48 48 21.4 48 48 48z m-96 64c-26.6 0-48 21.4-48 48s21.4 48 48 48 48-21.4 48-48-21.4-48-48-48z">
                    </path>
                </svg>
            </i> </a>
    </div>
    <div class="col d-flex justify-content-center">

    </div>
    <div class="col d-flex justify-content-center">
        <a asp-controller="Empleados" asp-action="EmpleadosList" class="btn custom-btn">
            <i type="ci-00014" class="cIcon cIcon-ci-00014" title="Empleados">
                <svg width="10em" height="10em" fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20">
                    <path
                        d="M97.143,16.2a.3.3,0,0,0-.3.293v2.754a.165.165,0,0,1-.168.162H95.035V13.645a.3.3,0,0,0-.609,0v5.769H91.133l.955-1.012a.512.512,0,0,0,.132-.421v-.009l-.91-5.174.245-.355a.7.7,0,0,0,.436.182.535.535,0,0,0,.477-.284h0l.959-1.852,2.186.815a2.039,2.039,0,0,1,1.227,1.845v1.982a.3.3,0,0,0,.609,0V13.149a2.628,2.628,0,0,0-1.606-2.388l-.006,0L92.2,9.4V8.581a2.725,2.725,0,0,0,1.079-1.806,1.345,1.345,0,0,0,.774-.3,1.212,1.212,0,0,0,.135-1.755V3.631a3.773,3.773,0,0,0-7.542,0V4.745a1.152,1.152,0,0,0-.314.784,1.223,1.223,0,0,0,.449.943,1.344,1.344,0,0,0,.773.3,2.7,2.7,0,0,0,1.141,1.849V9.4l-3.634,1.356-.006,0a2.628,2.628,0,0,0-1.606,2.388v6.1a.763.763,0,0,0,.777.748h2.9a.293.293,0,1,0,0-.586h-.655V13.645a.3.3,0,0,0-.608,0v5.769H84.224a.165.165,0,0,1-.168-.162v-6.1A2.039,2.039,0,0,1,85.282,11.3l2.184-.815.959,1.852a.535.535,0,0,0,.477.284.7.7,0,0,0,.436-.182l.245.355-.91,5.175v.009a.512.512,0,0,0,.132.421l.955,1.012H88.542a.293.293,0,1,0,0,.586H96.67a.763.763,0,0,0,.777-.748V16.5A.3.3,0,0,0,97.143,16.2Zm-4.287-5.929L91.961,12l-1.076-.736,1.1-1.313Zm-1.8,1.827-.232.336h-.759l-.232-.336.611-.418ZM89.3,9.5V8.949a3.192,3.192,0,0,0,1.15.21,2.951,2.951,0,0,0,1.138-.228V9.5l-1.143,1.359Zm4.59-3.968a.646.646,0,0,1-.237.5.721.721,0,0,1-.351.156V4.875A.671.671,0,0,1,93.89,5.529Zm-6.364.654a.67.67,0,0,1-.588-.654.705.705,0,0,1,.588-.639Zm.016-1.89a1.554,1.554,0,0,0-.291.063V3.631a3.164,3.164,0,0,1,6.324,0v.7a1.4,1.4,0,0,0-.274-.051c0-.283,0-.228-.958-1.222a.557.557,0,0,0-.691-.081,6.038,6.038,0,0,1-3.546.919A.539.539,0,0,0,87.543,4.293Zm.592,2.121V4.489a6.692,6.692,0,0,0,3.8-.988c.44.455.679.694.756.785V6.413a2.283,2.283,0,0,1-4.559,0Zm.8,5.589-.894-1.726.864-.322,1.105,1.313Zm.349,6.033.881-5.01h.571l.881,5.01-1.166,1.235Z"
                        transform="translate(-83.447)">
                    </path>
                </svg>
            </i> </a> @*PlaceHolder*@
    </div>
    <div class="col d-flex justify-content-center">

    </div>
    <div class="col d-flex justify-content-center">
        <a asp-controller="Proveedor" asp-action="ProveedorList" class="btn custom-btn">
            <i type="cb-8316" class="cIcon cIcon-cb-8316" title="Proveedores">
                <svg xmlns="http://www.w3.org/2000/svg" width="10em" height="10em" fill="#FFFFFF"
                    viewBox="0 0 1024 1024">
                    <path
                        d="M957.4 531.5l-96-224A32 32 0 0 0 832 288h-96V224a32 32 0 0 0-32-32H96a32 32 0 0 0-32 32v544a32 32 0 0 0 32 32h68.5a128 128 0 0 0 247 0h201a128 128 0 0 0 247 0H928a32 32 0 0 0 32-32v-224a32 32 0 0 0-2.6-12.5ZM736 352h74.9l68.5 160H736ZM288 832a64 64 0 1 1 64-64 64 64 0 0 1-64 64Zm324.5-96h-201a128 128 0 0 0-247 0H128V256h544v401.9A128 128 0 0 0 612.5 736ZM736 832a64 64 0 1 1 64-64 64 64 0 0 1-64 64Zm160-96h-36.5A128 128 0 0 0 736 640v-64h160Z">
                    </path>
                </svg>
            </i></a> @*PlaceHolder*@
    </div>
</div>
@*Nombres*@
    <div class="row">
        <div class="row">
    <div class="col d-flex justify-content-center">
        <h4>Ventas</h4>
    </div>
    <div class="col d-flex justify-content-center">

    </div>
    <div class="col d-flex justify-content-center">
        <h4>Empleados</h4>
    </div>
    <div class="col d-flex justify-content-center">

    </div>
    <div class="col d-flex justify-content-center">
        <h4>Proveedores</h4>
    </div>
</div>
<br>
<br>
@*Division*@
<div class="row m-4"></div>

<div class="row">
    <div class="col d-flex justify-content-center">

    </div>
    <div class="col d-flex justify-content-center">
        <a asp-controller="Inventario" asp-action="InventarioList" class="btn custom-btn"><i type="v60-2654"
                class="cIcon cIcon-v60-2654" title="Inventario">
                <svg xmlns="http://www.w3.org/2000/svg" width="10em" height="10em" fill="#FFFFFF"
                    viewBox="0 0 1024 1024">
                    <path
                        d="M652.8 473.6a38.4 38.4 0 1 1 0-76.8 38.4 38.4 0 0 1 0 76.8Zm0 153.6a38.4 38.4 0 1 1 0-76.8 38.4 38.4 0 0 1 0 76.8ZM614.4 742.4a38.4 38.4 0 1 0 76.8 0 38.4 38.4 0 0 0-76.8 0Zm-51.2-307.2a25.6 25.6 0 0 0-25.6-25.6H358.4a25.6 25.6 0 0 0 0 51.2h179.2a25.6 25.6 0 0 0 25.6-25.6Zm0 153.6a25.6 25.6 0 0 0-25.6-25.6H358.4a25.6 25.6 0 0 0 0 51.2h179.2a25.6 25.6 0 0 0 25.6-25.6Zm0 153.6a25.6 25.6 0 0 0-25.6-25.6H358.4a25.6 25.6 0 0 0 0 51.2h179.2a25.6 25.6 0 0 0 25.6-25.6ZM435.2 102.4a76.8 76.8 0 0 0-72.4 51.2H281.6A76.8 76.8 0 0 0 204.8 230.4v614.4A76.8 76.8 0 0 0 281.6 921.6h460.8a76.8 76.8 0 0 0 76.8-76.8v-614.4A76.8 76.8 0 0 0 742.4 153.6h-81.2A76.8 76.8 0 0 0 588.8 102.4h-153.6ZM409.6 179.2a25.6 25.6 0 0 1 25.6-25.6h153.6a25.6 25.6 0 0 1 0 51.2h-153.6a25.6 25.6 0 0 1-25.6-25.6ZM281.6 204.8h81.2A76.8 76.8 0 0 0 435.2 256h153.6a76.8 76.8 0 0 0 72.4-51.2H742.4a25.6 25.6 0 0 1 25.6 25.6v614.4a25.6 25.6 0 0 1-25.6 25.6h-460.8a25.6 25.6 0 0 1-25.6-25.6v-614.4a25.6 25.6 0 0 1 25.6-25.6Z">
                    </path>
                </svg>
            </i> </a> @*PlaceHolder*@
    </div>
    <div class="col d-flex justify-content-center">

    </div>
    <div class="col d-flex justify-content-center">
        <a asp-controller="Clientes" asp-action="ClientesList" class="btn custom-btn">
            <i type="fa-regular-17393" class="cIcon cIcon-fa-regular-17393" title="Clientes">
                <svg xmlns="http://www.w3.org/2000/svg" width="10em" height="10em" fill="#FFFFFF"
                    viewBox="0 0 1024 1024">
                    <path
                        d="M369.8 455.1c62.8 0 113.8-50.9 113.8-113.8s-50.9-113.8-113.8-113.7-113.8 50.9-113.8 113.7c0 62.8 51 113.8 113.8 113.8z m455.1-42.7h-170.7c-23.6 0-42.7 19.1-42.6 42.7s19.1 42.7 42.6 42.7h170.7c23.6 0 42.7-19.1 42.7-42.7s-19-42.7-42.7-42.7z m-398.2 99.6h-113.8c-78.6 0-142.2 63.6-142.2 142.2 0 15.6 12.8 28.4 28.4 28.5h341.3c15.7 0 28.4-12.7 28.5-28.5 0-78.6-63.6-142.2-142.2-142.2z m398.2-241.8h-170.7c-23.6 0-42.7 19.1-42.6 42.7s19.1 42.7 42.6 42.7h170.7c23.6 0 42.7-19.1 42.7-42.7s-19-42.7-42.7-42.7z m85.3-213.3H113.8C50.9 56.9 0 107.8 0 170.7v568.9c0 62.8 50.9 113.8 113.8 113.7h796.4c62.8 0 113.8-50.9 113.8-113.7V170.7c0-62.8-51-113.8-113.8-113.8z m28.5 682.7c0 15.7-12.8 28.4-28.5 28.4H113.8c-15.7 0-28.4-12.8-28.5-28.4V170.7c0-15.7 12.8-28.4 28.5-28.5h796.4c15.7 0 28.4 12.8 28.5 28.5v568.9z">
                    </path>
                </svg>
            </i></a>
    </div>
    <div class="col d-flex justify-content-center">

    </div>
</div>
@*Nombres*@
<div class="row">
    <div class="col d-flex justify-content-center">

    </div>
    <div class="col d-flex justify-content-center">
        <h4>Inventario</h4>
    </div>
    <div class="col d-flex justify-content-center">

    </div>
    <div class="col d-flex justify-content-center">
        <h4>Clientes</h4>
    </div>
    <div class="col d-flex justify-content-center">

    </div>
</div>
    </div>
</body>


