@model EmpleadosModel


@{
    ViewData["Title"] = "Editar Empleado";
}

<head>
    <link rel="stylesheet" href="~/css/Empleados-style.css" />
</head>

<div class="col text-right">
    <p class="label-gris" style="font-size:160%;">@ViewData["Title"]</p>
</div>

<div class="container" style="width: 70%;">
<form asp-action="EmpleadosEdit" asp-controller="Empleados">
    <input type="hidden" asp-for="idEmpleados">
   
    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="nombreEmpleados" placeholder="Nombre del Empleado">
        <label asp-for="nombreEmpleados">Nombre del Empleado</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="Puesto" placeholder="Puesto">
        <label asp-for="Puesto">Puesto</label>
    </div>


     <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="Salario" rows="5" >
        <label asp-for="Salario">Salario</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="Email" rows="5" >
        <label asp-for="Email">Email</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="Telefono" rows="5" >
        <label asp-for="Telefono">Telefono</label>
    </div>

    <div class="buttons">
    <button class="btn btn-outline-primary">Guardar</button>
    <a class="btn btn-outline-secondary" asp-action="EmpleadosList" asp-controller="Empleados">Cancelar</a>
    </div>
</form>
</div>
