@model EmpleadosModel


@{
    ViewData["Title"] = "Borrar Empleado";
}


<h3 class="mb-3"></h3>


<form asp-controller="Empleados" asp-action="EmpleadosDelete">
    <div class="card" style="width 18rem;">
        <div class="card-body">
        <h5 class="card-title">Info del Empleado</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Estas Seguro que deseas la informacion del Empleado??</h6>
        <p class="card-text">Cliente: @Model.nombreEmpleados</p>
        </div>
    </div>


    <input type="hidden" asp-for="idEmpleados"/>
    <button type="submit" class="btn btn-danger">Borrar</button>
    <a class="btn btn-secondary" asp-action="EmpleadosList" asp-controller="Empleados">Cancelar</a>
</form>