@model ClientesModel


@{
    ViewData["Title"] = "Borrar Cliente";
}


<h3 class="mb-3"></h3>


<form asp-controller="Clientes" asp-action="ClienteDeleted">
    <div class="card" style="width 18rem;">
        <div class="card-body">
        <h5 class="card-title">Info del Cliente</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Estas Seguro que deseas la informacion del cliente??</h6>
        <p class="card-text">Cliente: @Model.nombreClientes</p>
        </div>
    </div>


    <input type="hidden" asp-for="idClientes"/>
    <button type="submit" class="btn btn-danger">Borrar</button>
    <a class="btn btn-secondary" asp-action="ClienteList" asp-controller="Clientes">Cancelar</a>
</form>