@model ClientesModel


@{
    ViewData["Title"] = "Editar Cliente";
}

<head>
    <link rel="stylesheet" href="~/css/Clientes-style.css" />
</head>

<div class="col text-right">
    <p class="label-gris" style="font-size:160%;">@ViewData["Title"]</p>
</div>

<div class="container" style="width: 70%;">
<form asp-action="ClientesEdit" asp-controller="Clientes">
    <input type="hidden" asp-for="idClientes">
   
    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="nombreClientes" placeholder="Nombre del Cliente">
        <label asp-for="nombreClientes">Nombre del Cliente</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="telNumClientes" placeholder="Telefono">
        <label asp-for="telNumClientes">Telefono</label>
    </div>


     <div class="form-floating mb-3">
        <input type="textarea" class="form-control" asp-for="fechaRegistrio" rows="5" readonly>
        <label asp-for="fechaRegistrio">Fecha de registro</label>
    </div>

    <div class="form-floating mb-3">
        <input type="textarea" class="form-control" asp-for="Puntos" rows="5" readonly>
        <label asp-for="Puntos">Puntos</label>
    </div>

    <div class="buttons">
    <button class="btn btn-outline-primary">Guardar</button>
    <a class="btn btn-outline-secondary" asp-action="ClientesList" asp-controller="Clientes">Cancelar</a>
    </div>
</form>
</div>
