@model ClientesModel


@{
    ViewData["Title"] = "Editar Cliente";
}


<h1>@ViewData["Title"]</h1>


<form asp-action="ClienteEdit" asp-controller="Clientes">
    <input type="hidden">
   
    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="nombreClientes" placeholder="Nombre del Cliente">
        <label asp-for="nombreClientes">Nombre del Cliente</label>
    </div>


     <div class="form-floating mb-3">
        <input type="textarea" class="form-control" asp-for="fechaRegistrio" rows="5">
        <label asp-for="fechaRegistrio">Fecha de registro</label>
    </div>


    <button class="btn btn-outline-primary">Guardar</button>
    <a class="btn btn-outline-secondary" asp-action="ClienteList" asp-controller="Clientes">Cancelar</a>
</form>
